---
title: Plutus
component: ContentPage
---
div
  div
    h3 What is Plutus?
    dl
      dd Plutus is payment system
      dd Payment via NFC (Near Field Communication)
      dd Web and mobile solutions
    h3 Why Plutus payment system?
    dl
      dd Save your time and money
      dd Pay for anything only with one button click using our mobile solutions or just NFC
      dd Best customer service
  div

